html {
    box-sizing: border-box;
}

body {
    padding-left: 40px;
}

ul {
    padding: 0;
    margin: 0;
}

.task-list {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 30px;
}

.image {
    display: block;
    max-width: 100%;
    width: auto;
}

#ingredients,
#categories {
    margin-bottom: 50px;
}

#gallery {
    padding: 0;
    margin: 0 0 50px 0;
    list-style: none;
}

@media screen and (min-width:1200px) {
    #gallery {
        display: flex;
    }
}

#counter {
    margin-top: 50px;
    margin-bottom: 50px;
}

#validation-input {
    border: 3px solid #bdbdbd;
    margin-bottom: 50px;
}
  
#validation-input.valid {
    border-color: #4caf50;
}
  
#validation-input.invalid {
    border-color: #f44336;
}

#font-size-control {
    display: block;
    margin-top: 50px;
    margin-bottom: 0;
}

#text {
    display: inline-block;
    margin-bottom: 50px;
}

#controls {
    margin-bottom: 50px;
}

#boxes {
    display: flex;
    flex-wrap: wrap;
}