html {
    box-sizing: border-box;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}

#gallery {
    padding: 0;
    margin: 0;
    list-style: none;
}

#counter {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#validation-input {
    border: 3px solid #bdbdbd;
}
  
#validation-input.valid {
    border-color: #4caf50;
}
  
#validation-input.invalid {
    border-color: #f44336;
}

#font-size-control {
    display: block;
    margin-top: 50px;
    margin-bottom: 0;
}

#text {
    padding-bottom: 100px;
}