html {
    box-sizing: border-box;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}

#gallery {
    padding: 0;
    margin: 0;
    list-style: none;
}

#counter {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}